body{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    font-family: 'typewriter';
}
html{
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'typewriter';
    src: url(assets/two-shots-rough-base.ttf);
}


nav{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    height: 100px;
    opacity: 1;
    background-color: rgb(0, 0, 0, .5);
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
    
    
}

.logoFU{
    height: 80px;
    width: 200px;
}
.listenOn{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
    padding-top: 30%;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
     -ms-animation: fadein 3s; /* Internet Explorer */
      -o-animation: fadein 3s; /* Opera < 12.1 */
         animation: fadein 3s;
}
.spotifylogo{
    transition: all .2s ease-in-out;
    height: 100px;
    width: 250px;
}
.spotifylogo:hover{
    transform: scale(1.1);
}
.apple{
    transition: all .2s ease-in-out; 
    height: 100px;
    width: 250px;
}
.apple:hover{
    transform: scale(1.1);
}
.homeRRSS{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
     -ms-animation: fadein 3s; /* Internet Explorer */
      -o-animation: fadein 3s; /* Opera < 12.1 */
         animation: fadein 3s;
}
.rrssIcon{
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-top: 25px;
}
.logo{
    display: flex;
    width: 60%;
    padding-left: 5%;
    font-size: 30px;
    color: rgb(224, 223, 220);
    padding-right: 5%;
     
    
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: rgb(31, 29, 29);
    
    
    
}
a{
    text-decoration: none;
    color: rgb(224, 223, 220);
    font-weight: bold;
    padding: 0px;
    font-size: 40px;
}
li{
    list-style: none;
}
.line1 {
    color: rgb(39, 38, 37);
    
}
.line2 {
    color: rgb(39, 38, 37);
    
}
.line3 {
    color: rgb(39, 38, 37);
    
}
.burger{
    display: none;
    
}

.burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(224, 223, 220);
    margin: 5px;
    transition: all 0.3s ease;
}


.toggle .line1{
     transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
     opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

#home {
    background-image: url(assets/portada2.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
    position: relative;
    margin-bottom: 100px;
    
}


#discography {
    
    background-image: url(assets/fondo1.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
    margin-bottom: 100px;
    
}
h1{
    font-size: 75px;
    display: flex;
    justify-content: center;
    padding: 5%;
}
.discos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;
  
    margin-bottom: 10%;
}
.albumThumb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
     -ms-animation: fadein 3s; /* Internet Explorer */
      -o-animation: fadein 3s; /* Opera < 12.1 */
         animation: fadein 3s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
span{
    background-color: rgb(97, 94, 94,);
    color: white;
    font-size: 25px;
}
.portada{
    padding: 15px;
    height: 300px;
    width: 300px;
    box-shadow:         12px 12px 29px rgb(19, 16, 16);
    
}
.portaldisc{
    font-size: 65px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-shadow: 5px 5px #080808;
    transition: all .2s ease-in-out; 
    padding-bottom: 10%;
}
.portaldisc:hover{
    transform: scale(1.05);
}

#galeria{
    background-image: url(assets/fondo1.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
}
.fotos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.foto{
    height: 400px;
    width: 600px;
    box-shadow:         12px 12px 29px rgb(12, 10, 10);
    margin: 5%;
}
.linkgaleria{
    font-size: 65px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-shadow: 5px 5px #080808;
    transition: all .2s ease-in-out; 
    padding-bottom: 10%;
}
.linkgaleria:hover{
    transform: scale(1.05);
}
h1{
    color: white;
    font-size: 150px;
}
@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .rrss{
        display: flex;
        flex-direction: column;
    }
    .foto{
        height: 200px;
        width: 300px;
    }
    h1{
        font-size: 100px;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 12vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: rgb(0, 0, 0, .5);
        margin-top: 10px;
        
        
    }
    .homeRRSS{
        display: flex;
        justify-content: center;
        margin-top: 300px;
        
        height: 100%;
        
    }
    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    
    .apple{
        margin-right: 0%;
        height: 70px;
        width: 180px;
    }
    .spotifylogo{
        height: 70px;
        width: 180px;
    }
    .discos{
        flex-direction: column;
        justify-content: space-around;
    }
    .portada{
        margin: 5%;
    }
    .fotos{
        flex-direction: column;
        justify-content: space-around;
    }
    .foto{
        margin: 5%;
    }
    .linkgaleria{
        font-size: 45px;
    }
    .portaldisc{
        font-size: 45px;
    }
}
.nav-active{
    transform: translateX(0%);

}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


p{
    color: white;
    font-size: 20px;
}
.instagramLogo{
    width: 150px;
    height: 150px;
    margin: 20px;
    transition: all .2s ease-in-out; 
}
.instagramLogo:hover{
    transform: scale(1.05);
}
.facebookLogo{
    width: 150px;
    height: 150px;
    margin: 20px;
    transition: all .2s ease-in-out; 
}
.facebookLogo:hover{
    transform: scale(1.05);
}
.gmailLogo{
    width: 150px;
    height: 150px;
    margin: 20px;
    transition: all .2s ease-in-out; 
}
.gmailLogo:hover{
    transform: scale(1.05);
}
#contactIcon{
    height: 100px;
    width: 100px;
    transition: all .2s ease-in-out; 
}
#contactIcon:hover{
    transform: scale(1.05);
}
.fono{
    font-size: 50px;
}
#contacto{
    background-image: url(assets/fondo1.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
    margin-bottom: 100px;
}
