body{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    font-family: 'typewriter';
}
html{
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'typewriter';
    src: url(assets/two-shots-rough-base.ttf);
}


nav{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    height: 100px;
    opacity: 1;
    background-color: rgb(0, 0, 0, .5);
    
    
}

.logoFU{
    height: 80px;
    width: 200px;
}
.listenOn{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
    padding-top: 30%;
}
.spotifylogo{
    transition: all .2s ease-in-out;
    height: 100px;
    width: 250px;
}
.spotifylogo:hover{
    transform: scale(1.1);
}
.apple{
    transition: all .2s ease-in-out; 
    height: 100px;
    width: 250px;
}
.apple:hover{
    transform: scale(1.1);
}
.logo{
    display: flex;
    width: 60%;
    padding-left: 5%;
    font-size: 30px;
    color: rgb(224, 223, 220);
    padding-right: 5%;
     
    
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: rgb(31, 29, 29);
    
    
    
}
a{
    text-decoration: none;
    color: rgb(224, 223, 220);
    font-weight: bold;
    padding: 0px;
    font-size: 40px;
}
li{
    list-style: none;
}
.line1 {
    color: rgb(39, 38, 37);
    
}
.line2 {
    color: rgb(39, 38, 37);
    
}
.line3 {
    color: rgb(39, 38, 37);
    
}
.burger{
    display: none;
    
}

.burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(224, 223, 220);
    margin: 5px;
    transition: all 0.3s ease;
}


.toggle .line1{
     transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
     opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

#home {
    background-image: url(assets/portada2.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
    position: relative;
    margin-bottom: 100px;
    
}


#discography {
    
    background-image: url(assets/fondo1.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
    margin-bottom: 100px;
    
}
h1{
    font-size: 75px;
    display: flex;
    justify-content: center;
    padding: 5%;
}
.discos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15%;
    padding-bottom: 5%;
    margin-bottom: 10%;
}
.portada{
    height: 350px;
    width: 350px;
    box-shadow:         12px 12px 29px rgb(19, 16, 16);
}
.portaldisc{
    font-size: 65px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-shadow: 5px 5px #080808;
    transition: all .2s ease-in-out; 
    padding-bottom: 10%;
}
.portaldisc:hover{
    transform: scale(1.05);
}

#galeria{
    background-image: url(assets/fondo1.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
}
.fotos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.foto{
    height: 400px;
    width: 550px;
    box-shadow:         12px 12px 29px rgb(12, 10, 10);
    margin: 5%;
}
.linkgaleria{
    font-size: 65px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-shadow: 5px 5px #080808;
    transition: all .2s ease-in-out; 
    padding-bottom: 10%;
}
.linkgaleria:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .rrss{
        display: flex;
        flex-direction: column;
    }
    .foto{
        height: 200px;
        width: 250px;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 12vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: rgb(0, 0, 0, .5);
        margin-top: 10px;
        
        
    }

    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .listenOn{
        flex-direction: 
    }
    .apple{
        margin-right: 0%;
        height: 70px;
        width: 180px;
    }
    .spotifylogo{
        height: 70px;
        width: 180px;
    }
    .discos{
        flex-direction: column;
        justify-content: space-around;
    }
    .portada{
        margin: 5%;
    }
    .fotos{
        flex-direction: column;
        justify-content: space-around;
    }
    .foto{
        margin: 5%;
    }
}
.nav-active{
    transform: translateX(0%);

}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
}
p{
    color: white;
    font-size: 20px;
}
.instagramLogo{
    width: 150px;
    height: 150px;
    margin: 20px;
    transition: all .2s ease-in-out; 
}
.instagramLogo:hover{
    transform: scale(1.05);
}
.facebookLogo{
    width: 150px;
    height: 150px;
    margin: 20px;
    transition: all .2s ease-in-out; 
}
.facebookLogo:hover{
    transform: scale(1.05);
}
.gmailLogo{
    width: 150px;
    height: 150px;
    margin: 20px;
    transition: all .2s ease-in-out; 
}
.gmailLogo:hover{
    transform: scale(1.05);
}